@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);
--dark-gray: hsl(0, 0%, 55%);
--very-dark-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
}

.first-section-container {
  background-image: url('./images/mobile/image-hero.jpg');  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;;
  height: 100vh;
}

.first-section-container-black {
  background-color: var(--black);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  height: 1.5em;
  padding: 2.5rem 1.5rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-menu {
  display: none;
}

.nav-menu-active {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  height: 83.8vh;
}

.nav-link {
  color: var(--white);
  text-decoration: inherit;
}

.nav-item {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
  padding: 10px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

.first-section-hero-text {
  border: 2px solid var(--white);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.4em;
  font-weight: lighter;
  color: var(--white);
  margin: 3.5em 1em;
  padding: 1.1rem;
  text-align: left;
  line-height: 1em;
}

.first-section-hero-text-inactive {
  display: none;
}

.hamburger-menu-active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.second-section-container {
  margin: 5em 1.5em;  
}

.second-section-image {
  width: 100%;
}

.second-section-text-box {
  text-align: center;
  padding: 1em;
}

.second-section-title {
  color: var(--black);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 2em;
  padding: 15px;
}

.second-section-text {
  color: var(--dark-gray);
  font-family: 'Alata', sans-serif;
}
